body{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 200px;

}
.question{
    font-weight: 600;
    margin-bottom: 15px;
}
.answers {
  margin-bottom: 80px;
  line-height: 1.6em;
}
.answers label{
  display: block;

}

h1{
  font-family: 'Gamja Flower', cursive;
  font-size: 70px;
  text-align: center;
  animation-name: title;
  animation-duration: 1s;
  animation-iteration-count: 1;
  position: relative;
}

@keyframes title{
  0% {transform: rotate(0deg);
  top: -900px;}
  25% {transform: rotate(-3deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(3deg)}
  100% {transform: rotate(0deg);
  top: 0px;}
}
#submit{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    background-color: rgb(114, 229, 214);
    color: #fff;
    border: 0px;
    height: 105px;
    border-radius: 90px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}
