<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://use.typekit.net/zen4sju.css">

<title>Layout</title>
</head>
<body>

  <header>Core Interaction</header>



  <nav>
    <ul><li>
      <a href="#">A Link</a></li>
      <li><a href="#">Another Link</a></li>
    </ul>
  </nav>


  <article>
<h2>This is a Title</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac sollicitudin odio, sed interdum ante. Quisque feugiat vulputate nunc, ac ornare eros cursus nec. Donec venenatis justo non lacus tincidunt, vitae suscipit urna commodo. Aliquam erat nulla, pulvinar et aliquam non, dignissim nec nunc. Donec sollicitudin neque arcu, et rutrum elit fringilla id. Morbi eget tortor vel tellus finibus feugiat. Maecenas finibus vulputate tortor in pharetra. Aenean dapibus interdum aliquam. Donec eleifend molestie lorem. Aliquam tincidunt turpis vel tristique luctus. Integer at magna magna. Vivamus nec consectetur nulla. Pellentesque ac luctus orci, sit amet aliquam ex. Donec interdum molestie neque, nec condimentum sem porttitor bibendum. Nulla fermentum mattis risus eget consectetur. Nunc malesuada vestibulum lectus, in suscipit dui laoreet in.</p>

  </article>

</div><!-- row -->

  <footer>&copy; 2018 Grace Ledoux</footer>

</body>
</html>
