body{

}


#words{
  top:50px;
  position:absolute;
  left:10px;
}
h1 {
  font-family: "blenny";
  z-index:2;
  font-size: 120px;
  line-height: .3em;
  }


#grow-word{
  content: url('images/grass.gif');
  height:140px;
  position:absolute;
  top:280px;
  transition: all 2s ease-out;
}

#grow-word:hover{
  position:absolute;
  transition: 1s;
  transform: scale(1.2);
}

#poster{
width:600px;
height:auto;
left:350px;
height:450px;
margin-top:100px;
position:fixed;
top:20px;
border-top: 2px;
border-right: 0px;
border-left: 0px;
border-bottom:0px;
border-style: solid;
border-color:black;
z-index:-1;

}



#paper{
  width:850px;
  height:auto;
  left:250px;
  height:550px;
  margin-top:25px;
  position:fixed;
  top:50px;
  z-index:-5;
  opacity: .5;

}

#tape{
  width:100px;
  transform:rotate(5deg);
  position:fixed;
  top:60px;
  left:900px;
  z-index:4;
}

#tape2{
  width:100px;
  transform:rotate(-10deg);
  position:fixed;
  top:70px;
  left:280px;
  z-index:4;
}

#plant1{
  width:400px;
  position:relative;
  top:50px;
  left:380px;
  transition: all 1s ease-out;
  z-index: 5;
}

#plant1:hover{
  transform: rotate(6deg);
  transition: 1s;
  transform-origin: 50% 0%;
}

#plant2{
  width:150px;
  position:absolute;
  top:0px;
  left:250px;
  transition: all 1s ease-out;
  z-index:4;
  opacity: .8;
}

#plant2:hover{
  transform: rotate(6deg);
  transition: 1s;
  transform-origin: 50% 0%;
  opacity:1;
}

#plant3{
  width:150px;
  position:absolute;
  top:-2px;
  left:350px;
  transition: all 1s ease-out;
  z-index:3;
  opacity: .5;
}

#plant3:hover{
  transform: rotate(-4deg);
  transition: 1s;
  transform-origin: 50% 0%;
  opacity:1;
}

#name{
  font-family: "flower-power";
  position:absolute;
  left:600px;
  top:450px;
  width:100px;
  color:black;
  font-size:12px;
  z-index: 5;
  opacity:.2;
  transition: all 1s ease-out;
}

#name:hover{
  opacity:1;
  transform: scale(1.2) rotate(-2deg);
  transition: 1s;
}
